body {
    background-image: url("../img/bg_-01.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: #fffef8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    color: #4e5050;
}


/* Border */

.border {
    border-style: solid!important;
    border-radius: 10pt;
    border-color: #4e5050!important;
    background-color: #f7f7f7e3;
    padding: 5%;
}


/* Button */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    background-color: #566767;
}

.btn:hover {
    background-color: #fffef8;
    color: #566767;
    border-color: #566767;
}


/* Class_image */

.class_image {
    border-radius: 1.5rem;
}

.class_image:hover {
    box-shadow: 0 0 8px 0px #b7b7b7c4;
}


/* Data */

@media only screen and (min-width: 769px) {
    .data-img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 40%
    }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .data-img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%
    }
}


/* Footer */

.footer {
    margin-top: 3%;
}


/* Padding */

.padding {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
}


/* Margin */

.margin {
    margin-bottom: 3%;
}


/* Link */

.link {
    color: #fffef8;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
}

.link:hover {
    color: #566767;
}


/* List */

.list-item {
    list-style: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 0px;
}


/* Navbar */

.nav-color {
    background-color: #758888!important;
}


/* Ref */

.ref {
    color: #4e5050;
    text-decoration: underline;
}

.ref:hover {
    color: #566767;
}